---
import "../styles/stylesheet.scss";
import '../styles/global.css';
---

<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="application-name"
      content="Decimal to Balanced Ternary Converter"
    />
    <meta
      name="description"
      content="An online tool to convert between decimal numbers and balanced ternary."
    />
    <meta
      name="keywords"
      content="balanced ternary, converter, base 10, base 3, decimal, calculate, convert"
    />
    <meta name="author" content="Viraj Bijpuria" />
    <meta name="robots" content="index, follow" />

    <meta charset="UTF-8" />
    <meta
      name="google-site-verification"
      content="2nZEIGfRoHGC-BS3L-BIv6bkhVUZDpoGNgUK9Z4Pub8"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Decimal to Balanced Ternary Converter" />
    <meta
      property="og:description"
      content="Convert decimal numbers to balanced ternary easily with this free online calculator."
    />
    <meta
      property="og:url"
      content="https://github.com/VBproDev/decimal-to-balanced-ternary-converter"
    />
    <meta
      property="og:site_name"
      content="Decimal to Balanced Ternary Converter"
    />
    <meta property="og:image" content="./favicon.png" />
    <link rel="icon" href="./favicon.png" />
    <title>Convert decimal to balanced ternary and back</title>
  </head>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "Decimal to Balanced Ternary Converter",
      "url": "https://github.com/VBproDev/decimal-to-balanced-ternary-converter",
      "applicationCategory": "CalculatorApplication",
      "operatingSystem": "All",
      "browserRequirements": "Requires JavaScript and modern browser",
      "description": "An online tool to convert between decimal numbers and balanced ternary",
      "keywords": [
        "balanced ternary",
        "converter",
        "base 10",
        "base 3",
        "decimal",
        "calculate",
        "convert"
      ],
      "creator": {
        "@type": "Person",
        "name": "Viraj Bijpuria",
        "url": "https://github.com/VBproDev"
      },
      "inLanguage": "en",
      "license": "https://www.gnu.org/licenses/agpl-3.0.en.html",
      "isAccessibleForFree": true
    }
  </script>
  <div class="container">
  <h1>Convert between Balanced Ternary and Decimal</h1>
  <div class="info-box">
    <ul class="info-list">
      <li>
        Don't know about Balanced Ternary Operator? Here -
        <a target="_blank" href="https://en.wikipedia.org/wiki/Balanced_ternary">Balanced ternary</a>
      </li>
      <li>
        To convert a single number, enter it into the input field. 
      </li>
      <li>
        For bulk conversions, specify a range using the format <code>x, y</code> (e.g., <code>1,100</code> or <code>T10,1T11</code>).
      </li>
      <li>
        When entering balanced ternary numbers, remember that the digits -1 and 1 are represented by <code>T</code> and <code>1</code>, respectively.
      </li>
    </ul>
  </div>


  <input
    id="numeric-input"
    aria-label="Enter decimal"
    class="numeric-input"
    placeholder="Enter Decimal"
  />

  <label for="numeric-base-select">Convert to</label>
  <select id="numeric-base-select" class="numeric-base-select" name="base">
    <option value="balanced-ternary">Balanced Ternary</option>
    <option value="decimal">Decimal</option>
  </select>

  <button class="convert-btn">Convert</button>

  <br />

  <div class="conversion-container">
    <div class="copy-result">
      <div class="copy-icon-container">
        <button class="copy-btn" role="button" aria-label="Copy results">
          📋
        </button>
        <button class="download-btn" role="button" aria-label="Downloadresults">
          ⬇️
        </button>
      </div>
    </div>
    <textarea readonly tabindex="-1" class="conversion-result"></textarea>
  </div>

  <script src="../scripts/script.ts"></script>
  <footer class="site-footer">
    <p>
      Consider starring ⭐ us on
      <a
        target="_blank"
        href="https://github.com/VBproDev/decimal-and-balanced-ternary-converter"
        >GitHub!</a
      >
    </p>
    <p>
      Made by
      <a target="_blank" href="https://github.com/VBproDev">Viraj Bijpuria</a>
    </p>
  </footer>

  <div class="banner-container">
    <h4 id="error-banner" class="disabled-banner"></h4>
  </div>

  <div class="banner-container">
    <h4 id="success-banner" class="disabled-banner"></h4>
  </div>
</div>

</html>
